@model IEnumerable<FastFood.Models.SubCategory>

@{
    ViewData["Title"] = "Sub Categories";
}

<h1 class="my-4 text-center text-white bg-danger py-3 rounded">Sub Categories</h1>

<p class="text-left">
    <a asp-action="Create" class="btn btn-danger">Create New</a>
</p>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Parent Category</th>
            <th>Sub Category</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@item.Category?.Title</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning me-2">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
